services:
  db:
    image: mysql:latest
    volumes:
      - mysql_data:/var/lib/mysql # Volume for persistence
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: posting_db
  backend:
    build: ./backend
    volumes:
      - ./backend:/usr/src/app
    environment:
      DB_HOST: db
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "80:8080" # Map host port 80
    volumes:
      - ./frontend:/usr/src/app
    depends_on:
      - backend

volumes:
  mysql_data: