services:
  db:
    image: mysql:latest
    volumes:
      - ./mysql_data:/var/lib/mysql # Volume for persistence
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: posting_db

  backend:
    build: ./backend
    ports:
      - "5000:5000" # Maps localhost:5000 to Container:5000
    volumes:
      - ./backend:/usr/src/app        # Bind mount for code
      - /usr/src/app/node_modules     # Anonymous volume to protect container's modules
    environment:
      DB_HOST: db
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "80:80" # Maps localhost:80 to Container:80
    # volumes:
    #   - ./frontend:/usr/src/app       # Bind mount for code
    #   - /usr/src/app/node_modules     # Protect container's modules
    #   - /usr/src/app/dist             # Protect the build folder from being overwritten
    depends_on:
      - backend

volumes:
  mysql_data: